/* general */

/* fonts */

body * {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* page layout */

#main {
    clear: both;
}

#main > * {
    float: left;
}

#main article {
    width: 70%;
    background: cornflowerblue;    
}

#main aside {
    width: 30%;
    background: hotpink;
}


/* navigation */

nav {    
    border: 2px solid lightcyan;
    border-radius: 5px;
    background: lightblue;
    margin: 1em 0;
    padding: 0 1em;
}

nav ul {
    padding: 0;
    margin-left: 0;
    display: flex;
}
nav ul li {
    list-style: none;
    padding-right: 1em;
}

nav ul li a {
    color: lightcyan;
    text-decoration: none;
    padding: 0.5em 1em;
    background-color: lightskyblue;
    border-radius: 5px;
}